/000650.jpg
/datasets
/requirements.txt
/runs
/__pycache__
busaps-seg2.engine
yolo11n.pt
bus-aps-code.zip
Bus-APS-Version1.0.zip
*.mp4
*.avi
*.mov
*.mkv
*.zip
/val9-olddataset-IMX500
/mct_logs
/Bus-APS-1.0.0.zip
/Bus-APS-Version1.0
/val9-olddataset-IMX500